<!-- ui-view goes here -->
    <div class="row">

            <form>
                <div class="col-md-6">
                      <div class="form-group">
                        <label for="title">Offer</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="coupon.title">
                      </div>
                      <div class="form-group">
                        <label for="desc">Offer Details</label>
                        <input type="text" class="form-control" id="desc" placeholder="Description" ng-model="coupon.desc">
                      </div>
                      <div class="form-group">
                        <label for="title">Disclaimer</label>
                        <input type="text" class="form-control" id="desc2" placeholder="Additional Desciption" ng-model="coupon.desc2">
                      </div>
                      <div class="form-group">
                        <label for="desc">Coupon Code</label>
                        <input type="text" class="form-control" id="code" placeholder="Coupon Code" ng-model="coupon.code">
                      </div>
                     <div class="form-group">
                        <label for="title">Coupon Footer</label>
                        <input type="text" class="form-control" id="footer" placeholder="Footer" ng-model="coupon.footer">
                      </div>                      
                </div>
                
                
                <div class="col-md-6">
                     <div class="form-group">
                        <label for="title">Vendor</label>
                        <input type="text" class="form-control" id="vendor" placeholder="Vendor" ng-model="coupon.vendor">
                      </div>                                       
                      <div class="form-group">
                      <div class="form-group">
                        <label for="title">Vendor Website</label>
                        <input type="url" class="form-control" id="vendor_url" placeholder="Vendor Website" ng-model="coupon.vendor_url">
                     </div>
                      <div class="form-group">
                        <label for="title">Vendor Phone</label>
                        <input type="tel" class="form-control" id="vendor_phone" placeholder="Vendor Phone" ng-model="coupon.vendor_phone">
                     </div> 

                      <div class="form-group">
                        <label>Service</label>  
                        <select class="form-control" ng-model="coupon.category">
                          <option> </option>
                          <option>Service</option>
                          <option>Dining</option>
                          <option>Entertainment</option>
                          <option>Shopping</option>
                          <option>Attraction</option>
                        </select>                                      
                      </div>
                      <div class="form-group">
                        <label for="expiration">Expiration Date</label>
                        <input type="date" class="form-control" id="expiration" placeholder="Expiration Date"  required >
                      </div>
                     <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.active"> Coupon is Active
                        </label>
                      </div>
                        <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.premium"> Premium Listing
                        </label>
                      </div>  
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.expires"> Coupon Expires
                        </label>
                      </div>                                         
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="saveCoupon()">
                            Duplicate Coupon
                        </button>
                        <button class="btn btn-danger" ui-sref="home">
                            Cancel
                        </button>                       
                    </div>
                </div>                              
            </form>
        </div>
    </div>


    <div class="row" id="addAddress">
        <div class="col-md-12">
            <div>
                 <google-places location=location places=places coupon=coupon></google-places>
            </div>
            <h4 ng-show="coupon.locations.length>0">Coupon Locations</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="place in coupon.locations">
                    <a href="{{place.url}}" target="_blank">
                        <i class="fa fa-map-marker tw_blue"></i>
                        {{place.address}}
                    </a>
                    <i class="fa-x2 fa fa-close pull-right" ng-click="removeLocation($index)"></i>

                </li>
            </ul>

        </div>
    </div>


    <div class="row" id="fileUpload">
            <form action="" class="dropzone" dropzone="" id="dropzone">
                <div class="dz-default dz-message">
                </div>
            <form>

            <a ng-click="reset()" class="pull-right"><i class="fa fa-close"></i></a>

            <script type="text/javascript">
                Dropzone.autoDiscover = false;
            </script>
    </div>


    <!--
    <div class="row">
        <div class="col-md-12">
            <small>{{coupon}}</small>
            <h3>{{filename}}</h3>
        </div>
        <div class="col-md-12" ng-show="coupon.hasImage" style="margin:auto">
            <p>Preview</p>
            <img ng-src="uploads/{{coupon.img}}" class="img-responsive preview" />
        </div>
    </div>
    -->
<!-- End of ui-view -->