
<!-- ui-view goes here -->
    <div class="row">        
            <form>
                <div class="col-md-6" style="padding: 10px;">
                     <h3>Coupon</h3>
                      <div class="form-group">
                        <label for="title"> Offer</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="coupon.title">
                      </div>
                      <div class="form-group">
                        <label for="desc"> Details</label>
                        <input type="text" class="form-control" id="desc" placeholder="Description" ng-model="coupon.desc">
                      </div>
                      <div class="form-group">
                        <label for="title"> Disclaimer</label>
                        <input type="text" class="form-control" id="desc2" placeholder="Additional Desciption" ng-model="coupon.desc2">
                      </div>
                      <div class="form-group">
                        <label for="desc"> Code</label>
                        <input type="text" class="form-control" id="code" placeholder="Coupon Code" ng-model="coupon.code">
                      </div>
                      <div class="form-group">
                        <label for="title"> Footer</label>
                        <input type="text" class="form-control" id="footer" placeholder="Footer" ng-model="coupon.footer">
                      </div>                      
                      <div class="form-group">
                        <label for="expiration"> Expiration Date: 
                          <strong>{{ coupon.expiration| date:'shortDate' }}</strong>
                        </label>
                        <input type="date" class="form-control" id="expiration" placeholder="Expiration Date"  required ng-model="coupon.expiration">
                      </div>

                     <div class="form-group">
                          <label> Island</label>  
                          <select class="form-control" ng-model="coupon.island">
                            <option> </option>
                            <option>Big_Island</option>
                            <option>Kauai</option>
                            <option>Maui</option>
                            <option>Molokai</option>
                            <option>Oahu</option>
                          </select>                                      
                      </div>


                     <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.active">  Active
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.premium"> Premium 
                        </label>
                      </div>   
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="coupon.expires"> Expires
                        </label>
                      </div>                        
                </div>
                
                
                <div class="col-md-6" style="background-color: rgba(22,110,172,.4); border-radius: 5px; padding: 10px;">
                      <h3>Vendor </h3>
                      <div class="form-group">
                        <label for="vendor">Name</label>
                        <input type="text" class="form-control" id="vendor" placeholder=" Vendor" ng-model="coupon.vendor">
                     </div>
                      <div class="form-group">
                        <label for="vendor_url"> Website</label>
                        <input type="url" class="form-control" id="vendor_url" placeholder=" Vendor Website" ng-model="coupon.vendor_url">
                     </div>
                      <div class="form-group">
                        <label for="vendor_phone"> Phone</label>
                        <input type="tel" class="form-control" id="vendor_phone" placeholder=" Vendor Phone" ng-model="coupon.vendor_phone">
                     </div>
                  
                    

                      <div class="form-group">
                        <label> Category</label>  
                        <select class="form-control" ng-model="coupon.category">
                          <option> </option>
                          <option>Service</option>
                          <option>Dining</option>
                          <option>Entertainment</option>
                          <option>Shopping</option>
                          <option>Activity</option>
                        </select>                                      
                    </div>
                                        
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="updateCoupon()">
                            Update
                        </button>
                        <a class="btn btn-danger" ui-sref="home">
                            Cancel
                        </a>                       
                    </div>
                </div>                              
            </form>
        </div>
    </div>


    <div class="row" id="addAddress">
        <div class="col-md-12">
            <h3>  Locations </h3>
            <div>
                 <google-places location=location places=places coupon=coupon></google-places>
            </div>
            <h4 ng-show="coupon.locations.length>0">Locations</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="place in coupon.locations">
                    <a href="{{place.url}}" target="_blank">
                        <i class="fa fa-map-marker tw_blue"></i>
                        {{place.address}}
                    </a>
                    <i class="fa-x2 fa fa-close pull-right" ng-click="removeLocation($index)"></i>

                </li>
            </ul>

        </div>
    </div>

<div class="row">
  <div class="col-md-6" id="ngLogoUpload">
            <h3>Upload Logo</h3>
            <button type="file" ngf-select="uploadLogo($file, $invalidFiles)"
                    accept="image/*" ngf-max-height="1000" ngf-max-size="4MB">
                Select Logo File</button>
            <br><br>
            File:
            <div style="font:smaller">{{logo.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                <span class="progress" ng-show="logo.progress >= 0">
                    <div style="width:{{logo.progress}}%"  
                         ng-bind="logo.progress + '%'"></div>
                </span>
            </div>     
            {{errorMsg}}
             <img style="width:25%; height:%25; margin:auto; text-align: center;" class="img img-responsive" ng-src="/uploads/{{coupon.vendor_logo}}"/>
    </div>
    <div class="col-md-6" id="ngImgUpload">
            <h3>Upload Image</h3>
            <button type="file" ngf-select="uploadImg($file, $invalidFiles)"
                    accept="image/*" ngf-max-height="1000" ngf-max-size="4MB">
                Select Image File</button>
            <br><br>
            File:
            <div style="font:smaller">{{img.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                <span class="progress" ng-show="img.progress >= 0">
                    <div style="width:{{img.progress}}%"  
                         ng-bind="img.progress + '%'"></div>
                </span>
            </div>     
            {{errorMsg}}
            <img style="width:25%; height:%25; margin:auto; text-align:center;" class="img img-responsive" ng-src="/uploads/{{coupon.img}}"/>
    </div>
</div>



<!-- End of ui-view -->