
<div style="text-align:center; margin-bottom: 10px;">
        <img ng-src={{profile.picture}}  class="img-circle img-responsive" style="width:50px; height:50px; margin:auto;">
        <h3>{{profile.displayName}}</h3>
        <a class="btn btn-primary" ui-sref="new">New Coupon</a>
        <button class="btn btn-danger" ng-click="setOwned(profile._id)">Only My Coupons</button>
</div>

 
<table datatable="ng" class="row-border hover" ng-cloak>
        <thead>
                <tr>
                        <th>Actions</th>
                        <th>Vendor</th>
                        <th>Title</th>
                        <th>Expiration</th>
                </tr>
        </thead>
        <tbody>
                <tr ng-repeat="coupon in coupons | filter:owned">
                        <td>
                                <i class="tw_blue fa fa-tag tw_control" ui-sref="view({id: coupon.id})"></i>
                                <i class="tw_blue fa fa-edit tw_control" ui-sref="edit({id: coupon.id})"></i>
                                <i class="tw_blue fa fa-close tw_control" ng-click="delete(coupon.id)" ></i>                  
                        </td>
                        <td>{{ coupon.vendor}}</td>
                        <td><a ui-sref="view({id: coupon.id})">{{ coupon.title }}</a> <span ng-show="coupon.active" class="label label-danger">Active</span></td>
                        <td>
                                <span ng-show="checkExpiration(coupon.expiration)">
                                {{ coupon.expiration| date:'shortDate' }}
                                </span>
                        </td>
                </tr>
        </tbody>
</table> 
 
   
